################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/NeoQuantEmpMngmnt/v16
/node_modules
